:root {
  --cor-bg: #000000;
  --cor-0: #ffffff;
  --cor-1: #fbeed7;
  --cor-2: #d9c19d;
  --cor-3: #b7966b;
  --cor-4: #946d43;
  --cor-5: #724a24;
  --cor-6: #502b0f;
  --cor-5: #2e1402;
  --cor-6: #ffbb00;
}

.cor-bg {
  color: var(--cor-bg);
}
.cor-0 {
  color: var(--cor-0);
}
.cor-1 {
  color: var(--cor-1);
}
.cor-2 {
  color: var(--cor-2);
}
.cor-3 {
  color: var(--cor-3);
}
.cor-4 {
  color: var(--cor-4);
}
.cor-5 {
  color: var(--cor-5);
}
.cor-6 {
  color: var(--cor-6);
}
