.header-bg {
  background-color: var(--cor-bg);
}

.header {
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header-navbar {
  display: flex;
  gap: 60px;
  align-items: center;
}

.header-navbar a {
  padding: 16px 10px;
  font-size: 1.7rem;
  color: var(--cor-1);
}

.header-logo {
  width: 100px;
  height: 100px;
}

.header-navbar a:hover {
  color: #f0c095;
}

.header-icon {
  width: 50px;
  height: 50px;
}

.menu {
  background-color: var(--cor-6);
  width: 60px;
  height: 60px;
  margin: 1rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

.hamburguer {
  position: relative;
  display: block;
  background: #fff;
  width: 30px;
  height: 2px;
  top: 29px;
  left: 15px;
  transition: 0.5s ease-in-out;
}

.hamburguer:before,
.hamburguer:after {
  background: #ffff;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.5s ease-in-out;
}

.hamburguer:before {
  top: -10px;
}

.hamburguer:after {
  bottom: -10px;
}

input {
  display: none;
}

/* rotação dos elementos do span */
input:checked ~ label .hamburguer {
  transform: rotate(45deg);
}

input:checked ~ label .hamburguer:before {
  transform: rotate(90deg);
  top: 0;
}

input:checked ~ label .hamburguer:after {
  transform: rotate(90deg);
  bottom: 0;
}

input:checked ~ .header-navbar {
  left: 0;
}

/* ATIVANDO O BOTÃO HAMBURGUER QUANDO O TAMANHO DA TELA ATINGIR 600PX */
@media (max-width: 600px) {
  .header-logo {
    display: none;
  }
  .header-navbar a:hover {
    color: rgb(214, 161, 214);
  }

  .menu-hamburger {
    display: flex;
    width: auto;
    flex-direction: column;
    align-self: flex-start;
    overflow: auto;
    z-index: 1;
    color: white;
  }

  .header-navbar {
    width: 100vw;
    height: 100vh;
    background-color: rgba(10, 10, 10, 0.9);
    position: fixed;
    left: -100%;
    top: 0;

    transition: left cubic-bezier(1, 0, 0, 1) 0.8s;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    z-index: -1;
  }

  .menu {
    display: flex;
    height: 60px;
    width: 60px;
  }
}

@media (max-width: 400px) {
  body {
    background-color: var(--cor-bg);
  }
  .header-logo {
    display: none;
  }
}
