.header-bg {
  background-color: var(--cor-bg);
}

.header {
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header-navbar {
  display: flex;
  gap: 60px;
  align-items: center;
}

.header-navbar a {
  padding: 16px 10px;
  font-size: 1.7rem;
  color: var(--cor-1);
}

.header-logo {
  width: 100px;
  height: 100px;
}

.header-navbar a:hover {
  color: #f0c095;
}

.header-icon {
  width: 50px;
  height: 50px;
}
