.services-bg {
  background-color: var(--cor-bg);
}

.services-container {
  padding-bottom: 60px;
}

.services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  position: relative;
}

.services-item {
  background-color: var(--cor-3);
  border-radius: 10%;
  padding: 50px 50px;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: 10px 10px var(--cor-0);
}

.services-title {
  padding: 40px 40px;
}

.services-item-nav {
  display: flex;
}

.services-item-office {
  font-family: "Zain", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 2rem;
  color: var(--cor-6);
}

.services-item-description {
  margin-bottom: 20px;
  text-align: center;
}

.services-item-skills {
  margin-bottom: 10px;
}

.services-default {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 40px;
}

.title-number {
  font-family: "Zain", sans-serif;
  font-size: 2rem;
}
.services-item-company {
  margin-bottom: 20px;
}

.teste {
  font-size: 2rem;
}
